<nav>
    <ul>
        <li><strong><a href="/">Cats & Dogs</a></strong></li>
    </ul>
    <ul>
        <li><a href="/category/cats">Cats</a></li>
        <li><a href="/category/dogs">Dogs</a></li>
        <li><a href="/new-animal">Add New Animal</a></li>
    </ul>
</nav>